Repository cleitonmarx/symbiont: changes, and which Codecov flags are due for each by the changed paths.
All: symbiont, todoapp

feat: add TestStart for in-memory exporter and span assertion in tracing tests
  examples/todoapp/internal/tracing/tracing_test.go
Due: symbiont, todoapp

fix: update coverage target thresholds and specify coverage file for Codecov
  .github/workflows/symbiont-ci.yml
  .github/workflows/todo-app-ci.yaml
  codecov.yml
Due: none

fix: update comment layout in codecov.yml for improved readability
  codecov.yml
Due: none

feat: add coverage status configuration to codecov.yml
  codecov.yml
Due: none

fix: update path pattern for todoapp component in codecov.yml
  codecov.yml
Due: none

fix: add github_checks configuration to codecov.yml
  codecov.yml
Due: none

fix: restore push event configuration for main and master branches in CI workflow
  .github/workflows/symbiont-ci.yml
Due: none

Remove JSON tags from Todo struct fields for cleaner code
  examples/todoapp/internal/domain/todo.go
Due: symbiont, todoapp

Refactor CI workflow job names for consistency and clarity
  .github/workflows/todo-app-ci.yaml
Due: none

Add toon-go dependency and update summary generation logic
  examples/todoapp/go.mod
  examples/todoapp/go.sum
  examples/todoapp/internal/usecases/generate_board_summary.go
  examples/todoapp/internal/usecases/prompts/summary.yml
Due: symbiont, todoapp

Refactor StreamChat implementation to include time provider and adjust context limits for chat history and todos
  examples/todoapp/internal/usecases/stream_chat.go
  examples/todoapp/internal/usecases/stream_chat_test.go
Due: symbiont, todoapp

Refactor Todo Assistant instructions for clarity and conciseness
  examples/todoapp/internal/usecases/prompts/chat.yml
Due: todoapp

Update page size constants for BatchModal and useTodos for consistency
  examples/todoapp/webapp/src/components/BatchModal.tsx
  examples/todoapp/webapp/src/hooks/useTodos.ts
Due: todoapp

Refactor chat-related types and move them to a new types.go file for better organization
  examples/todoapp/internal/adapters/outbound/modelrunner/client.go
  examples/todoapp/internal/adapters/outbound/modelrunner/types.go
Due: symbiont, todoapp

Add ChatRole_Developer to ChatRole constants for clarity
  examples/todoapp/internal/domain/chat.go
Due: symbiont, todoapp

Add LLMTool and related types for enhanced LLM functionality
  examples/todoapp/internal/domain/llm.go
Due: symbiont, todoapp

Update ListTodos query to use embedding comparison and maintain order by created_at
  examples/todoapp/internal/adapters/outbound/postgres/todo.go
  examples/todoapp/internal/adapters/outbound/postgres/todo_test.go
Due: symbiont, todoapp

Enhance LLM functionality by adding ToolCallID and ToolCalls to chat message types
  examples/todoapp/internal/domain/chat.go
  examples/todoapp/internal/domain/llm.go
Due: symbiont, todoapp

Update ToLLMInput formatting in Todo struct for improved clarity
  examples/todoapp/internal/domain/todo.go
  examples/todoapp/internal/domain/todo_test.go
Due: symbiont, todoapp

Moved mocks to domain root folder
  examples/todoapp/internal/domain/mock_gen.go
Due: none

Refactor LLMClient methods to utilize toChatRequest for improved message handling and add ToolCall support in ChatMessage structure
  examples/todoapp/internal/adapters/outbound/modelrunner/llm_client.go
  examples/todoapp/internal/adapters/outbound/modelrunner/llm_client_test.go
  examples/todoapp/internal/adapters/outbound/modelrunner/types.go
Due: symbiont, todoapp

Enhance ChatMessage and Todo functionality by adding ToolCallID and ToolCalls support, update database schema, and improve ListTodos query with error handling and embedding ordering
  examples/todoapp/internal/adapters/outbound/postgres/chat.go
  examples/todoapp/internal/adapters/outbound/postgres/chat_test.go
  examples/todoapp/internal/adapters/outbound/postgres/migrations/202601201230_create_todo_table.up.sql
  examples/todoapp/internal/adapters/outbound/postgres/todo.go
  examples/todoapp/internal/adapters/outbound/postgres/todo_test.go
Due: symbiont, todoapp

Moved usecase moks to root folder
  examples/todoapp/internal/usecases/mocks/mock_gen.go
Due: none

Update mockery configuration to use dynamic directory and package names
  examples/todoapp/.mockery.yml
Due: todoapp

Refactor test files to use updated usecase imports and improve mock setup functions
  examples/todoapp/internal/adapters/inbound/graphql/server_mutations_test.go
  examples/todoapp/internal/adapters/inbound/graphql/server_queries_test.go
  examples/todoapp/internal/adapters/inbound/http/server_board_test.go
  examples/todoapp/internal/adapters/inbound/http/server_chat_test.go
  examples/todoapp/internal/adapters/inbound/http/server_todo_test.go
  examples/todoapp/internal/adapters/inbound/workers/event_subscriber_test.go
  examples/todoapp/internal/adapters/inbound/workers/message_relay_test.go
Due: symbiont, todoapp

Refactor CreateTodo use case to utilize TodoCreator interface for improved separation of concerns and add corresponding tests
  examples/todoapp/internal/usecases/create_todo.go
  examples/todoapp/internal/usecases/create_todo_test.go
  examples/todoapp/internal/usecases/todo_creator.go
  examples/todoapp/internal/usecases/todo_creator_test.go
Due: symbiont, todoapp

feat: add TodoDeleter for deleting todos
  examples/todoapp/internal/usecases/mock_gen.go
  examples/todoapp/internal/usecases/todo_deleter.go
  examples/todoapp/internal/usecases/todo_deleter_test.go
Due: symbiont, todoapp

refactor: simplify DeleteTodo implementation and improve test structure
  examples/todoapp/internal/usecases/delete_todo.go
  examples/todoapp/internal/usecases/delete_todo_test.go
Due: symbiont, todoapp

refactor: update comments for TodoDeleter implementation clarity
  examples/todoapp/internal/usecases/todo_deleter.go
Due: symbiont, todoapp

refactor: update mock usage in RelayOutbox tests for consistency
  examples/todoapp/internal/usecases/relay_outbox_test.go
Due: symbiont, todoapp

refactor: update repository mock usage in DeleteConversation tests for consistency
  examples/todoapp/internal/usecases/delete_conversation_test.go
Due: symbiont, todoapp

refactor: update mock usage in board summary tests for consistency
  examples/todoapp/internal/usecases/generate_board_summary_test.go
  examples/todoapp/internal/usecases/get_board_summary_test.go
Due: symbiont, todoapp

refactor: filter out tool messages in ListChatMessages query response and update mock usage in tests
  examples/todoapp/internal/usecases/list_chat_messages.go
  examples/todoapp/internal/usecases/list_chat_messages_test.go
Due: symbiont, todoapp

refactor: update StreamChat implementation to include LLMToolRegistry and enhance chat message handling
  examples/todoapp/internal/usecases/stream_chat.go
  examples/todoapp/internal/usecases/stream_chat_test.go
Due: symbiont, todoapp

feat: implement LLMToolManager and associated tools for todo management
  examples/todoapp/internal/usecases/llm_tools.go
Due: symbiont, todoapp

refactor: enhance Todo Assistant instructions and operational rules for clarity and completeness
  examples/todoapp/internal/usecases/prompts/chat.yml
Due: todoapp

refactor: update ToLLMInput formatting to include Unix timestamp and ISO 8601 date
  examples/todoapp/internal/domain/todo.go
  examples/todoapp/internal/domain/todo_test.go
Due: symbiont, todoapp

refactor: update Due Date formatting in TodoCreator tests to include Unix timestamp and ISO 8601 date
  examples/todoapp/internal/usecases/todo_creator_test.go
Due: symbiont, todoapp

feat: implement TodoUpdater and associated tests for todo item modifications
  examples/todoapp/internal/usecases/todo_updater.go
  examples/todoapp/internal/usecases/todo_updater_test.go
Due: symbiont, todoapp

Path conditions:
  symbiont: any of: **/*.go, but not: **/*_gen.go
  todoapp: any of: examples/todoapp/**, but not: **/*_gen.go
